@import "compass/reset";
$main-color: #604087;
$highlight: #8560b3;

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

.head,
.prompt,
.canvas,
.timer {
  padding: 10px;
}

.head {
  text-align: center;
  width: 100%;
  height: 12%;
  position: fixed;
  background-color: white;
  display: block;
}

.start-game,
.prompt,
.play-game {
  text-align: center;

  h1 {
    font-size: 40px;
  }
}

//works for browser/gs5
.start-game {
  background-color: $main-color;
  padding-top: 22em;
  padding-bottom: 20em;
  a {
    color: white;
    text-decoration: none;
  }
}

.prompt {
  padding-top: 15em;
  padding-bottom: 17em;
  background-color: $highlight;
  h2 {
    color: #fff;
  }
}

.play-game {
  padding-top: 2em;
  padding-bottom: 3.5em;
  color: #fff;
  background-color: $main-color;
  a {
    color: white;
    text-decoration: none;
  }
}

#minutes,
#seconds,
#colon {
  font-family: sans-serif;
  font-size: 1em;
  color: red;
}

.canvas {
  text-align: center;
  display: block;
  width: 95%;
  height: 95%;
}

#juice-canvas {
  border: 1px solid #333;
}

@media only screen and (max-width: 360px), screen and (max-height: 600px) {
  body {
    padding: none;
  }

  .canvas {
    width:92%;
    height: 90%;
  }
}

//lgv20
@media only screen and (max-width: 375px), screen and (max-height: 640px) {
  body {
    padding: none;
  }

  .prompt {
    padding-bottom: 6em;
  }

  .canvas {
    width:92%;
    height: 90%;
  }
}
//iphone 5
@media only screen and (max-width: 320px), screen and (max-height: 568px) {
  body {
    padding: none;
  }

  .play-game {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .canvas {
    width: 92%;
    height: 89%;
  }
}
/** //nexus 5x -- still problematic
@media only screen and (max-width: 412px), screen and (max-height: 732px) {
  body {
    padding: none;
  }

  .play-game {
    padding-top: 3em;
    padding-bottom: 4em;
  }

  .canvas {
    width:92%;
    height: 90%;
  }
}**/
